<h2 class="acms-admin-admin-title2">
  <span>Zoho Form 設定</span>
  <!-- <button
    class="acms-admin-btn-admin acms-admin-btn-info"
    type="button"
    onclick="(async () => {
      console.log('check post');
      const formData = new FormData();
      formData.append('ACMS_POST_Zoho_Check', 'exec')
      formData.append('formCode', '{code}')
      formData.append('formToken', window.csrfToken)
      const response = await fetch('/', {
        method: 'POST',
        body: formData,
      });
      if(!response.ok) {
        return null;
      }

      console.log(response.json());
    })()"
  >
    タブの設定をチェックする ※設定を保存してから試してください。
  </button> -->
</h2>
<div class="acms-admin-table-admin-edit" style="padding: 15px">
  <h2 class="acms-admin-admin-title2">
    タブのユニークキー設定
    <i
      class="acms-admin-icon-tooltip js-acms-tooltip js-acms-tooltip-hover"
      data-acms-tooltip="<!--T-->v2までのフォーム権限設定。ユニークキーを設定してフォームの権限を作成します。<!--/T-->"
    ></i>
  </h2>
  <table class="js-fieldgroup-sortable">
    <thead class="acms-admin-hide-sp">
      <tr>
        <th class="acms-admin-table-left acms-admin-admin-config-table-item-handle">&nbsp;</th>
        <th class="acms-admin-table-left">
          ユニークキーにする項目のAPI名
          <i
          class="acms-admin-icon-tooltip js-acms-tooltip js-acms-tooltip-hover"
          data-acms-tooltip="<!--T-->InsertまたはUpdateを許可するタブのZohoCRMの項目のラベルを設定します。<!--/T-->"
        ></i>

        </th>
        <th class="acms-admin-table-left">
          Insertを許可するタブのAPI名
        </th>
        <th class="acms-admin-table-left">
          Updateを許可するタブのAPI名
        </th>
        <th class="acms-admin-table-left acms-admin-admin-config-table-action">削除</th>
      </tr>
    </thead>
    <tbody>
      <!-- BEGIN zoho_form_group:loop -->
      <tr class="sortable-item">
        <td class="item-handle">
          <i class="acms-admin-icon-sort"></i>
        </td>
        <td>
          <input
            type="text"
            name="zoho_form_unique_key[]"
            value="{zoho_form_unique_key}"
            class="acms-admin-form-width-full"
          />
        </td>
        <td>
          <input
            type="text"
            name="zoho_form_insert_scope[]"
            value="{zoho_form_insert_scope}"
            class="acms-admin-form-width-full"
          />
        </td>
        <td>
          <input
            type="text"
            name="zoho_form_update_scope[]"
            value="{zoho_form_update_scope}"
            class="acms-admin-form-width-full"
          />
        </td>
        <td>
          <input type="button" class="item-delete acms-admin-btn-admin acms-admin-btn-admin-danger" value="削除" />
          <input type="hidden" name="zoho_form_group_index[]" value="index" />
        </td>
      </tr>
      <!-- END zoho_form_group:loop -->
      <tr class="sortable-item item-template">
        <td class="item-handle">
          <i class="acms-admin-icon-sort"></i>
        </td>
        <td>
          <input type="text" name="zoho_form_unique_key[]" value="" class="acms-admin-form-width-full" />
        </td>
        <td>
          <input type="text" name="zoho_form_insert_scope[]" value="" class="acms-admin-form-width-full" />
        </td>
        <td>
          <input type="text" name="zoho_form_update_scope[]" value="" class="acms-admin-form-width-full" />
        </td>
        <td>
          <input type="button" class="item-delete acms-admin-btn-admin acms-admin-btn-admin-danger" value="削除" />
          <input type="hidden" name="zoho_form_group_index[]" value="index" />
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5">
          <input type="button" class="item-insert acms-admin-btn-admin" value="追加" />
        </td>
      </tr>
    </tfoot>
  </table>
  <input type="hidden" name="@zoho_form_group[]" value="zoho_form_insert_scope" />
  <input type="hidden" name="mail[]" value="zoho_form_insert_scope" />
  <input type="hidden" name="@zoho_form_group[]" value="zoho_form_update_scope" />
  <input type="hidden" name="mail[]" value="zoho_form_update_scope" />
  <input type="hidden" name="@zoho_form_group[]" value="zoho_form_unique_key" />
  <input type="hidden" name="mail[]" value="zoho_form_unique_key" />
  <input type="hidden" name="@zoho_form_group[]" value="zoho_form_group_index" />
  <input type="hidden" name="mail[]" value="zoho_form_group_index" />
  <input type="hidden" name="mail[]" value="@zoho_form_group" />

  <h3 class="acms-admin-admin-title2">
    <!--T-->Zohoと連携するa-blog cmsフィールドの設定<!--/T-->
    <i
      class="acms-admin-icon-tooltip js-acms-tooltip js-acms-tooltip-hover"
      data-acms-tooltip="<!--T-->v2までのZoho カスタムフィールド<!--/T-->"
    ></i>
  </h3>
  <table class="js-fieldgroup-sortable" id="js-acms-zoho-link-field">
    <thead class="acms-admin-hide-sp">
      <tr>
        <th class="acms-admin-table-left acms-admin-admin-config-table-item-handle">&nbsp;</th>
        <th class="acms-admin-table-left">
          <!--T-->a-blog cmsのフィールド名<!--/T-->
          <i
            class="acms-admin-icon-tooltip js-acms-tooltip js-acms-tooltip-hover"
            data-acms-tooltip="<!--T-->Zohoのキーに対応する a-blog cms 側のカスタムフィールド名を指定します。<!--/T-->"
          ></i>
        </th>
        <th class="acms-admin-table-left">
          <!--T-->タブのAPI名<!--/T-->
          <i
            class="acms-admin-icon-tooltip js-acms-tooltip js-acms-tooltip-hover"
            data-acms-tooltip="<!--T-->Zoho側のタブを指定します。<!--/T-->"
          ></i>
        </th>
        <th class="acms-admin-table-left">
          <!--T-->項目のAPI名<!--/T-->
          <i
            class="acms-admin-icon-tooltip js-acms-tooltip js-acms-tooltip-hover"
            data-acms-tooltip="<!--T-->Zoho側のフィールド名を指定します。<!--/T-->"
          ></i>
        </th>
        <th class="acms-admin-table-left" style="width: 50px; text-align: center"><!--T-->Insert<!--/T--></th>
        <th class="acms-admin-table-left" style="width: 50px; text-align: center"><!--T-->Update<!--/T--></th>
        <th class="acms-admin-table-left acms-admin-admin-config-table-action"><!--T-->削除<!--/T--></th>
      </tr>
    </thead>
    <tbody>
      <!-- BEGIN zoho_field_group:loop -->
      <tr class="sortable-item">
        <td class="item-handle">
          <i class="acms-admin-icon-sort"></i>
        </td>
        <td>
          <input
            type="text"
            name="zoho_link_field_cms_field[{i}]"
            value="{zoho_link_field_cms_field}"
            class="acms-admin-form-width-full"
            placeholder="<!--T-->例）<!--/T-->email"
          />
        </td>
        <td colspan="2" data-acms-zoho-link-field>
          <div class="acms-admin-cssgrid" style="--acms-admin-columns: 2;">
            <div
              name="zoho_link_field_module[{i}]"
              defaultValue="{zoho_link_field_module}"
              data-acms-zoho-link-field-module
            ></div>

            <div
              name="zoho_link_field_module_field[{i}]"
              defaultValue="{zoho_link_field_module_field}"
              class="acms-admin-form-width-full"
              data-acms-zoho-link-field-module-field
            ></div>
          </div>
        </td>
        <td style="width: 50px; text-align: center">
          <label class="acms-admin-form-checkbox" style="margin-right: 0">
            <input
              type="checkbox"
              name="zoho_link_field_insert[{i}]"
              value="true"
              class="acms-admin-form-width-full"
              {zoho_link_field_insert:checked#true}
            />
            <i class="acms-admin-ico-checkbox"></i>
          </label>
        </td>
        <td style="width: 50px; text-align: center">
          <label class="acms-admin-form-checkbox" style="margin-right: 0">
            <input
              type="checkbox"
              name="zoho_link_field_update[{i}]"
              value="true"
              class="acms-admin-form-width-full"
              {zoho_link_field_update:checked#true}
            />
            <i class="acms-admin-ico-checkbox"></i>
          </label>
        </td>
        <td>
          <input
            type="button"
            class="item-delete acms-admin-btn-admin acms-admin-btn-admin-danger"
            value="<!--T-->削除<!--/T-->"
          />
          <input type="hidden" name="zoho_form_index[]" value="index" />
        </td>
      </tr>
      <!-- END zoho_field_group:loop -->

      <tr class="sortable-item item-template">
        <td class="item-handle">
          <i class="acms-admin-icon-sort"></i>
        </td>
        <td>
          <input
              type="text"
              name="zoho_link_field_cms_field[]"
              value=""
              class="acms-admin-form-width-full"
            />
        </td>
        <td colspan="2" data-acms-zoho-link-field>
          <div class="acms-admin-cssgrid" style="--acms-admin-columns: 2;">
            <div
              name="zoho_link_field_module[]"
              value=""
              data-acms-zoho-link-field-module
            ></div>

            <div
              name="zoho_link_field_module_field[]"
              value=""
              class="acms-admin-form-width-full"
              data-acms-zoho-link-field-module-field
            ></div>
          </div>
        </td>
        <td style="width: 50px; text-align: center">
          <label class="acms-admin-form-checkbox" style="margin-right: 0">
            <input type="checkbox" name="zoho_link_field_insert[]" value="true" class="acms-admin-form-width-full" />
            <i class="acms-admin-ico-checkbox"></i>
          </label>
        </td>
        <td style="width: 50px; text-align: center">
          <label class="acms-admin-form-checkbox" style="margin-right: 0">
            <input type="checkbox" name="zoho_link_field_update[]" value="true" class="acms-admin-form-width-full" />
            <i class="acms-admin-ico-checkbox"></i>
          </label>
        </td>
        <td>
          <input
            type="button"
            class="item-delete acms-admin-btn-admin acms-admin-btn-admin-danger"
            value="<!--T-->削除<!--/T-->"
          />
          <input type="hidden" name="zoho_form_index[]" value="index" />
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="7">
          <input type="button" class="item-insert acms-admin-btn-admin" value="<!--T-->追加<!--/T-->" />
        </td>
      </tr>
    </tfoot>
  </table>

  <input type="hidden" name="@zoho_link_field_group[]" value="zoho_link_field_cms_field" />
  <input type="hidden" name="mail[]" value="zoho_link_field_cms_field" />
  <input type="hidden" name="@zoho_link_field_group[]" value="zoho_link_field_module" />
  <input type="hidden" name="mail[]" value="zoho_link_field_module" />
  <input type="hidden" name="@zoho_link_field_group[]" value="zoho_link_field_module_field" />
  <input type="hidden" name="mail[]" value="zoho_link_field_module_field" />
  <input type="hidden" name="@zoho_link_field_group[]" value="zoho_link_field_insert" />
  <input type="hidden" name="mail[]" value="zoho_link_field_insert" />
  <input type="hidden" name="@zoho_link_field_group[]" value="zoho_link_field_update" />
  <input type="hidden" name="mail[]" value="zoho_link_field_update" />
  <input type="hidden" name="mail[]" value="@zoho_link_field_group" />

  <h3 class="acms-admin-admin-title2"><!--T-->Zoho リレーショナル設定<!--/T--></h3>
  <table class="js-fieldgroup-sortable adminTable">
    <thead class="acms-admin-hide-sp">
      <tr>
        <th class="acms-admin-table-left acms-admin-admin-config-table-item-handle">&nbsp;</th>
        <th class="acms-admin-table-left"><!--T-->関連元タブ<!--/T--></th>
        <th class="acms-admin-table-left">
          <!--T-->ルックアップID<!--/T-->
          <i
            class="acms-admin-icon-tooltip js-acms-tooltip js-acms-tooltip-hover"
            data-acms-tooltip="<!--T-->カスタム項目の場合はIDを指定してください。（カスタム項目名_ID）になります。<!--/T-->"
          ></i>
        </th>
        <th class="acms-admin-table-left"><!--T-->関連先タブ<!--/T--></th>
        <th class="acms-admin-table-left">比較フィールド</th>
        <th class="acms-admin-table-left acms-admin-admin-config-table-action"><!--T-->削除<!--/T--></th>
      </tr>
    </thead>
    <tbody>
      <!-- BEGIN zoho_related_group:loop -->
      <tr class="sortable-item">
        <td class="item-handle">
          <i class="acms-admin-icon-sort"></i>
        </td>
        <td>
          <input
            type="text"
            name="zoho_related_scope[{i}]"
            value="{zoho_related_scope}"
            class="acms-admin-form-width-full"
          />
        </td>
        <td>
          <input
            type="text"
            name="zoho_related_lookup_id[{i}]"
            value="{zoho_related_lookup_id}"
            class="acms-admin-form-width-full"
          />
        </td>
        <td>
          <input
            type="text"
            name="zoho_related_target_scope[{i}]"
            value="{zoho_related_target_scope}"
            class="acms-admin-form-width-full"
          />
        </td>
        <td>
          <input
            type="text"
            name="zoho_related_compare_field[{i}]"
            value="{zoho_related_compare_field}"
            class="acms-admin-form-width-full"
          />
        </td>
        <td>
          <input
            type="button"
            class="item-delete acms-admin-btn-admin acms-admin-btn-admin-danger"
            value="<!--T-->削除<!--/T-->"
          />
        </td>
      </tr>
      <!-- END zoho_related_group:loop -->
      <tr class="sortable-item item-template">
        <td class="item-handle">
          <i class="acms-admin-icon-sort"></i>
        </td>
        <td>
          <input type="text" name="zoho_related_scope[]" value="" class="acms-admin-form-width-full" />
        </td>
        <td>
          <input type="text" name="zoho_related_lookup_id[]" value="" class="acms-admin-form-width-full" />
        </td>
        <td>
          <input type="text" name="zoho_related_target_scope[]" value="" class="acms-admin-form-width-full" />
        </td>
        <td>
          <input type="text" name="zoho_related_compare_field[]" value="" class="acms-admin-form-width-full" />
        </td>
        <td>
          <input
            type="button"
            class="item-delete acms-admin-btn-admin acms-admin-btn-admin-danger"
            value="<!--T-->削除<!--/T-->"
          />
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5">
          <input type="button" class="item-insert acms-admin-btn-admin" value="<!--T-->追加<!--/T-->" />
        </td>
      </tr>
    </tfoot>
  </table>
  <input type="hidden" name="@zoho_related_group[]" value="zoho_related_scope" />
  <input type="hidden" name="mail[]" value="zoho_related_scope" />
  <input type="hidden" name="@zoho_related_group[]" value="zoho_related_target_scope" />
  <input type="hidden" name="mail[]" value="zoho_related_target_scope" />
  <input type="hidden" name="@zoho_related_group[]" value="zoho_related_compare_field" />
  <input type="hidden" name="mail[]" value="zoho_related_compare_field" />
  <input type="hidden" name="@zoho_related_group[]" value="zoho_related_lookup_id" />
  <input type="hidden" name="mail[]" value="zoho_related_lookup_id" />
  <input type="hidden" name="mail[]" value="@zoho_related_group" />
</div>

<script type="module" crossorigin src="%{ZOHO_JS}"></script>
